<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h4>Address</h4>
                {% for line in site.address %}
                <address>{{ line }}</address>
                {% endfor %}

                <p>tel. 02-880-4289, email: djang@snu.ac.kr</p>
            </div>

            <div class="col-md-6">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <!-- <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
        </div>
    </div>
</footer>
